<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-right pull-right">
            <a style="cursor:pointer;" class="navbar-brand" [routerLink]="'index.html'">Real-Time Tracker</a>
        </div>
        <div class="navbar-left">
            <ul class="nav navbar-nav">
                <li class="dropdown" appDropdown>
                    <a style="cursor:pointer;" class="dropdown-toggle pull-left" role="button" >Quick List <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let project of projectList; let i = index">
                            <a (click)="startTimer(i)">
                                {{ project.title }}
                            </a>
                        </li>
                        <legend></legend>
                        <li><a >Version 2.5.2</a></li>
                        <legend></legend>
                        <li><a [routerLink]="'about.html'">About</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
