<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <h2>About</h2>
    <hr>
    <p>
      <u><h3>Features</h3></u>
      <br><b>Undo Delete:</b> Accidentally delete something? Refresh the page before touching a button and it'll be back from the graveyard. This doesn't work if you push save or update the project list, so be careful.
      <br><b>AutoPause:</b> Click any project's start button to pause any already running timer
      <br><b>Pin Project:</b> Pin a project to prevent it from being deleted if you hit the Delete All button
      <br><b>Quick List:</b> Click a project in the quick list to start its timer
      <br><b>CSV:</b> You can download a csv copy of the project list in the Options menu
    </p>
    <div class="btn btn-primary" [routerLink]="'../index.html'">Back to Time Tracker</div>
  </div>
  <div class="col-xs-1"></div>
</div>
