

<div id="main">
  <div class="card">
    <app-main-editor></app-main-editor>
    <button class="btn btn-information" (click)="widescreen = !widescreen">Widescreen Mode</button>
  </div>
  <div [ngClass]="{'flex-container': widescreen}">
    <div class="card" *ngFor="let project of projectList; let i = index">
        <app-card [project]="project" [id]="i">
          <app-editor [id]="i" [inCard]="true" [project]="project"></app-editor>
        </app-card>
    </div>
  </div>
  <div class="bottom-controls">
    <app-bottom-controls></app-bottom-controls>
  </div>
</div>
