<button class="btn btn-info" (click)="showEditor = (showEditor?false: true)">Add Project</button>
<div id="editorField" [ngClass]="{'hidden': !showEditor}">
  <form #f="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" #title="ngModel" ngModel required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" name="description" #description="ngModel" ngModel>
    </div>
    <button class="btn btn-success" (click)="onSubmit(f)">Submit</button>
    <button class="btn btn-alert">Cancel</button>
  </form>
</div>
