<div class="row">
  <div class="btn-container">
    <app-add-form></app-add-form>
    <button class="btn btn-warning" (click)="this.projectServ.resetAll()">Reset Timers</button>
    <button class="btn btn-success" (click)="this.projectServ.saveDataLocally()">Save Data</button>
    <button class="btn btn-information" (click)="this.projectServ.toCSV()">To CSV</button>
    <button class="btn btn-danger" (click)="this.projectServ.deleteAll()">Delete All</button>
    <button class="btn btn-secondary" (click)="unpinAll()">Unpin All</button>
    <button class="btn btn-primary" (click)="pinAll()">Pin All</button>
    <button class="btn btn-information" (click)="toggleScreen()">Widescreen Mode</button>
    <div class="clearfix"></div>
  </div>
</div>
