
  <div class="card-block">
    <div class="card-limit">
      <button class="btn btn-success pin pull-right" (click)="pinProject()">Pin Me!</button>
      <div class="clearfix"></div>
      <h4 class="card-title ">{{ project.title }}</h4>
      <h3 class="card-subtitle mb-2">{{ project.time | timeFormat }}</h3>
      <p class="card-text" *ngIf="project.description !== ''">{{ project.description }}</p>
      <button class="btn btn-success" (click)="startTimer()">Start Timer</button>
      <button class="btn btn-primary" (click)="pauseTimer()">Pause Timer</button>
      <button class="btn btn-secondary" (click)="showSubEditor = !showSubEditor">Edit Project</button>
      <div id="subEditorField" [ngClass]="{'hidden': !showSubEditor}">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
